@use '../../quark/quark';
@use '../../token/colors';

$seed4j-nav-item-current-color-text: colors.$seed4j-global-color-text-primary;

.seed4j-nav-item {
  @include quark.seed4j-q-link-light;

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    text-decoration: none;
  }

  &.-current {
    color: $seed4j-nav-item-current-color-text;

    &:hover {
      color: $seed4j-nav-item-current-color-text;
    }
  }
}
