import autoprefixer from 'autoprefixer';
import cssnano from 'cssnano';

const postcssConfig = {
  plugins: [
    autoprefixer,
    // seed4j-needle-thymeleaf-postcss-plugins
  ],
};

// If we are in production mode, then add cssnano
if (process.env.NODE_ENV === 'production') {
  postcssConfig.plugins.push(
    // use the safe preset so that it doesn't
    // mutate or remove code from our css
    cssnano({ preset: 'default' }),
  );
}

export default postcssConfig;
