include vertical-space.mixin.pug

+seed4j-vertical-space('paragraph')
  +seed4j-vertical-space--line First paragraph
  +seed4j-vertical-space--line Second paragraph
  +seed4j-vertical-space--line Third paragraph
