@use 'sass:math';
@use '../../../token/color/brand' as brand;
@use '../../../token/colors' as colors;
@use '../../../token/fonts' as fonts;

$seed4j-button-color-background: brand.$seed4j-color-brand-600;
$seed4j-button-color-text: colors.$seed4j-global-color-text-light;
$seed4j-button-hover-color-background: brand.$seed4j-color-brand-700;
$seed4j-button-focus-color-outline: rgba($seed4j-button-color-background, 50%);
$seed4j-button-disabled-color-background: rgba($seed4j-button-color-background, 50%);
$seed4j-button-disabled-color-text: rgba($seed4j-button-color-text, 50%);
$seed4j-button-padding: math.div(9, 16) * 1rem math.div(17, 16) * 1rem;
$seed4j-small-button-padding: 0.1rem 0.5rem;
$seed4j-button-radius: math.div(6, 16) * 1rem;
$seed4j-button-line-height: 1.5rem !default;
$seed4j-button-font-family: fonts.$seed4j-global-font-primary-family;
$seed4j-button-font-size: 1rem !default;
$seed4j-button-font-weight: fonts.$seed4j-font-weight-semi-bold;

%seed4j-button-main {
  box-sizing: border-box;
  border: 0;
  border-radius: $seed4j-button-radius;
  background-color: $seed4j-button-color-background;
  cursor: pointer;
  padding: $seed4j-button-padding;
  text-align: center;
  text-transform: uppercase;
  line-height: $seed4j-button-line-height;
  color: $seed4j-button-color-text;
  font-family: $seed4j-button-font-family;
  font-size: $seed4j-button-font-size;
  font-weight: $seed4j-button-font-weight;

  &:hover {
    background-color: $seed4j-button-hover-color-background;
  }

  &:disabled {
    background-color: $seed4j-button-disabled-color-background;
    cursor: not-allowed;
    color: $seed4j-button-disabled-color-text;
  }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-small {
    padding: $seed4j-small-button-padding;
  }

  &.-rounded-top {
    border-radius: $seed4j-button-radius $seed4j-button-radius 0 0;
  }
}

.seed4j-button-main {
  @extend %seed4j-button-main;
}
