@use '../../token/breakpoint';
@use '../../token/colors';

$seed4j-toast-gap: 1vw;
$seed4j-toast-padding: 2vw;
$seed4j-toast-radius: 2vw;
$seed4j-toast-medium-gap: 10px;
$seed4j-toast-medium-padding: 10px 20px;
$seed4j-toast-medium-radius: 20px;
$seed4j-toast-color-text: colors.$seed4j-global-color-text-light;
$seed4j-toast-success-color-background: colors.$seed4j-global-color-success;
$seed4j-toast-error-color-background: colors.$seed4j-global-color-error;

.seed4j-toast {
  display: flex;
  gap: $seed4j-toast-gap;
  align-items: center;
  border-radius: $seed4j-toast-radius;
  padding: $seed4j-toast-padding;
  color: $seed4j-toast-color-text;
  font-size: 1.5rem;

  &.-success {
    background-color: $seed4j-toast-success-color-background;
  }

  &.-error {
    background-color: $seed4j-toast-error-color-background;
  }

  &--message {
    flex-basis: 0;
    flex-grow: 1;
  }

  &--action {
    opacity: 0.7;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-size: 2rem;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (min-width: breakpoint.$seed4j-global-breakpoint-small-medium) {
  .seed4j-toast {
    gap: $seed4j-toast-medium-gap;
    border-radius: $seed4j-toast-medium-radius;
    padding: $seed4j-toast-medium-padding;
  }
}
