include /atom/icon/icon.mixin.pug

mixin seed4j-toast(type)
  .seed4j-toast(class=`-${type}`, role='alert')
    .seed4j-toast--message
      block
    button.seed4j-toast--action(aria-label='Close')
      +seed4j-icon('cancel')
