mixin seed4j-landscape-module
  .seed4j-chip.-selectable.-compacted
    .seed4j-chip--title.-selectable.-compacted github-codespaces
    .seed4j-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
