include /atom/icon/icon.mixin.pug

mixin seed4j-icon-text(icon, opts)
  - const { only } = opts || {};
  - const onlyClass = only ? `-${only}-only` : null;
  span.seed4j-icon-text
    span.seed4j-icon-text--icon
      +seed4j-icon(icon)
    span.seed4j-icon-text--text(class=onlyClass)
      block
