@use '../../token/colors';
@use '../../token/size';

$seed4j-modules-patch-line-color: colors.$seed4j-global-line-color;
$seed4j-modules-patch-box-radius: colors.$seed4j-global-box-radius;
$seed4j-modules-patch-primary-color: colors.$seed4j-global-primary-color;
$seed4j-modules-patch-applied-module-color: colors.$seed4j-global-applied-module-color;
$seed4j-modules-patch-primary-input-color: colors.$seed4j-global-primary-input-color;
$seed4j-modules-patch-disabled-color: colors.$seed4j-global-disabled-color;
$seed4j-filter-color-field-border: colors.$seed4j-global-color-field-border;
$seed4j-filter-color-field-border-focus: colors.$seed4j-global-color-field-border-focus;
$seed4j-filter-size-field-border: size.$seed4j-global-size-field-border;
$seed4j-filter-size-field-border-focus: size.$seed4j-global-size-field-border-focus;
$seed4j-filter-size-field-radius: size.$seed4j-global-size-field-radius;
$seed4j-filter-font-size: 1rem !default;
$seed4j-filter-line-height: 1.5rem !default;
$seed4j-filter-padding: 2px 10px !default;

.seed4j-modules-patch {
  color: var(--seed4j-global-color-text);

  .seed4j-modules-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--categories {
      flex-grow: 1;
      padding: 0 15px;
      overflow-y: auto;
    }
  }

  .seed4j-modules-filters {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0 15px;
    height: 40px;

    &--tags {
      margin-right: 10px;
    }

    &--filter {
      flex-grow: 1;
      border: $seed4j-filter-size-field-border solid $seed4j-filter-color-field-border;
      border-radius: $seed4j-filter-size-field-radius;
      padding: $seed4j-filter-padding;
      line-height: $seed4j-filter-line-height;
      font-size: $seed4j-filter-font-size;

      &:focus {
        outline: none;
        border-color: transparent;
        box-shadow: 0 0 0 $seed4j-filter-size-field-border-focus $seed4j-filter-color-field-border-focus;
      }
    }

    &--displayed-modules-count {
      margin-left: 15px;
      border-radius: 1em;
      background-color: $seed4j-modules-patch-primary-color;
      padding: 3px 1em;
      color: #fff;
    }
  }

  .seed4j-module-category {
    &--name {
      font-size: 1.4em;
      font-weight: 800;
    }
  }

  .seed4j-module {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid $seed4j-modules-patch-line-color;
    border-radius: $seed4j-modules-patch-box-radius;

    &.selected {
      background-color: $seed4j-modules-patch-primary-color;
      color: var(--seed4j-white);
    }

    &--content {
      flex-grow: 1;
      cursor: pointer;
      padding: 5px 10px;
    }

    &--content.not-selected {
      display: flex;
    }

    &--content.applied {
      background-color: $seed4j-modules-patch-applied-module-color;
    }

    &--tags.not-selected,
    &--description.not-selected {
      display: none;
    }

    &--tags.selected {
      display: flex;
      margin: 5px 0;
    }

    &--description.selected {
      display: block;
    }

    &--tag {
      margin-right: 7px;
      border-radius: 1em;
      background-color: $seed4j-modules-patch-primary-color;
      padding: 0 0.5em;
      font-style: italic;
    }

    &--slug {
      font-weight: bold;
    }

    &--apply-button {
      border: 0;
      border-left: 1px solid $seed4j-modules-patch-line-color;
      background-color: transparent;
      padding: 0 10px;
      color: $seed4j-modules-patch-primary-input-color;
      font-size: 1.5em;
      font-weight: bold;
    }

    &--apply-button:disabled {
      color: $seed4j-modules-patch-disabled-color;
    }
  }
}
