include /atom/icon/icon.mixin.pug
include /molecule/tag-filter/tag-filter.mixin.pug
include /organism/module-parameters/module-parameters.mixin.pug
include /organism/module-properties/module-properties.mixin.pug
include /organism/project-actions/project-actions.mixin.pug

mixin seed4j-modules-patch
  .seed4j-modules-patch.seed4j-menu-content-template
    .seed4j-modules-list.seed4j-menu-content-template--content
      .seed4j-modules-filters
        .seed4j-modules-filters--tags
          +seed4j-tag-filter
          +seed4j-tag-filter
          +seed4j-tag-filter
        input.seed4j-modules-filters--filter(placeholder='Filter')
        .seed4j-modules-filters--displayed-modules-count 3 / 5

      .seed4j-modules-list--categories
        div
          div
            h2.seed4j-module-category--name Angular
            .seed4j-module.not-selected.not-applied
              .seed4j-module--content.not-selected.not-applied
                .seed4j-module--tags.not-selected.not-applied
                  .seed4j-module--tag angular
                  .seed4j-module--tag client
                .seed4j-module--slug.not-selected.not-applied angular-core
                .seed4j-module--description.not-selected.not-applied Add Angular + Angular CLI
                  +seed4j-module-parameters('selected', 'all-valid-parameters')
              button.seed4j-module--apply-button
                span
                  +seed4j-icon('play')

    aside.seed4j-menu-content-template--menu
      .seed4j-side-menu
        .seed4j-side-menu--slot.-expand
          +seed4j-module-properties
        .seed4j-side-menu--slot
          +seed4j-project-actions
