@use 'sass:math';
@use '../../../token/colors' as colors;
@use '../button-main/button-main' as button-main;
@use '../../../token/size' as size;

$seed4j-button-switch-padding: math.div(5, 16) * 1rem math.div(15, 16) * 1rem;
$seed4j-button-switch-color-text-light: colors.$seed4j-global-color-text-light;
$seed4j-button-switch-radius: size.$seed4j-global-size-switch-radius;
$seed4j-button-switch-font-size: math.div(13, 16) * 1rem;

.seed4j-button-switch {
  @extend %seed4j-button-main;

  border-radius: $seed4j-button-switch-radius;
  background-color: transparent;
  padding: $seed4j-button-switch-padding;
  text-transform: none;
  color: var(--seed4j-global-color-text);
  font-size: $seed4j-button-switch-font-size;

  &:hover {
    background-color: transparent;
  }

  &.-selected {
    background-color: button-main.$seed4j-button-hover-color-background;
    color: $seed4j-button-switch-color-text-light;
  }
}
