mixin seed4j-button-switch(opts)
  - const { selected: isSelected } = opts || {};
  - const selectedClass = isSelected ? '-selected' : null;
  button.seed4j-button-switch(class=selectedClass)
    block
