.seed4j-icon-book:before {
  content: '\e800';
} /* '' */
.seed4j-icon-ccw:before {
  content: '\e801';
} /* '' */
.seed4j-icon-play:before {
  content: '\e802';
} /* '' */
.seed4j-icon-open-collective:before {
  content: '\e803';
} /* '' */
.seed4j-icon-download:before {
  content: '\e805';
} /* '' */
.seed4j-icon-cancel:before {
  content: '\e806';
} /* '' */
.seed4j-icon-ok:before {
  content: '\e807';
} /* '' */
.seed4j-icon-eye-off:before {
  content: '\e808';
} /* '' */
.seed4j-icon-cog-alt:before {
  content: '\e809';
} /* '' */
.seed4j-icon-seed4j:before {
  content: '\e80a';
} /* '' */
.seed4j-icon-twitter:before {
  content: '\f099';
} /* '' */
.seed4j-icon-github-circled:before {
  content: '\f09b';
} /* '' */
.seed4j-icon-code:before {
  content: '\f121';
} /* '' */
.seed4j-icon-puzzle:before {
  content: '\f12e';
} /* '' */
.seed4j-icon-play-circled:before {
  content: '\f144';
} /* '' */
.seed4j-icon-binoculars:before {
  content: '\f1e5';
} /* '' */
.seed4j-icon-map:before {
  content: '\f279';
} /* '' */
