import { defineComponent } from "vue";
// needle-jhipster-import

export default defineComponent({
  name: 'App',
  components: {},
  setup() {
    const appName='Jhipster-lite';
    // needle-jhipster-setup

    return {
      appName,
      // needle-jhipster-return
    };
  },
});
