@use '../../token/breakpoint';

$seed4j-toast-overlay-padding: 2vw;
$seed4j-toast-overlay-medium-padding: 20px;

.seed4j-toast-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 2vw;
}

@media screen and (min-width: breakpoint.$seed4j-global-breakpoint-small-medium) {
  .seed4j-toast-overlay {
    top: auto;
    right: auto;
    bottom: 0;
    padding: 20px;
  }
}
