mixin seed4j-button-toggle(opts)
  - const { active, disabled, shortName, fullName } = opts || {};
  - const activeClass = active ? '-active' : null;
  button.seed4j-button-toggle(class=activeClass, disabled=disabled)
    if shortName && fullName
      span.seed4j-button-toggle-content
        span.seed4j-button-toggle-full-name= fullName
        span.seed4j-button-toggle-short-name= shortName
    else
      block
