@use '../../token/colors';

$seed4j-module-properties-line-color: colors.$seed4j-global-line-color;
$seed4j-module-properties-secondary-color: colors.$seed4j-global-secondary-color;
$seed4j-module-properties-primary-input-color: colors.$seed4j-global-primary-input-color;

.seed4j-modules-properties-form {
  &--properties-title {
    margin-top: 15px;
    color: var(--seed4j-global-color-text);
    font-size: 1.4em;
  }

  &--commit-modules {
    margin: 10px 0;
  }

  &--commit-modules-label {
    margin-left: 10px;
    cursor: pointer;
    color: var(--seed4j-modules-label);
  }

  &--field {
    box-sizing: border-box;
    border: 1px solid $seed4j-module-properties-line-color;
    border-radius: 10px;
    background-color: $seed4j-module-properties-secondary-color;
    padding: 2px 7px;
    width: 100%;
    color: $seed4j-module-properties-primary-input-color;
  }
}
