mixin seed4j-module-properties
  .seed4j-module-properties.seed4j-vertical-space.-paragraph
    .seed4j-vertical-space--line
      h2.seed4j-modules-properties-form--properties-title
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-input Project folder
        .seed4j-field--field
          input.seed4j-input-text(type='text')
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Base java package -&nbsp;
            strong packageName
        .seed4j-field--field
          input.seed4j-input-text(type='text')
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Base Project full name -&nbsp;
            strong projectName
        .seed4j-field--field
          input.seed4j-input-text(type='text')
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Project short name (only letters and numbers) -&nbsp;
            strong baseName
        .seed4j-field--field
          input.seed4j-input-text(type='text')
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Server port -&nbsp;
            strong serverPort
        .seed4j-field--field
          input.seed4j-input-text(type='number')
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Type of line break (lf or crlf) -&nbsp;
            strong endOfLine
        .seed4j-field--field
          input.seed4j-input-text(type='text')
        .seed4j-field--optional Optional
    .seed4j-vertical-space--line
      .seed4j-field
        .seed4j-field--label
          label.seed4j-label
            span Number of spaces in indentation -&nbsp;
            strong indentSize
        .seed4j-field--field
          input.seed4j-input-text(type='number')
        .seed4j-field--optional Optional
    .seed4j-vertical-space--line
      input#commit-modules(type='checkbox')
      label.seed4j-modules-properties-form--commit-modules-label Commit module application
