include icon.mixin.pug

+seed4j-icon('book')
+seed4j-icon('puzzle')
+seed4j-icon('binoculars')
+seed4j-icon('map')
+seed4j-icon('github-circled')
+seed4j-icon('twitter')
+seed4j-icon('ccw')
+seed4j-icon('play')
+seed4j-icon('open-collective')
+seed4j-icon('jhipster')
