{{banner}}

${AnsiColor.BRIGHT_BLUE}:: ${AnsiColor.YELLOW}JHipster ${AnsiColor.CYAN}Lite${AnsiColor.BRIGHT_BLUE} ⚡ :: Running Spring Boot ${spring-boot.version} ::
:: https://www.jhipster.tech ::${AnsiColor.DEFAULT}
