package {{packageName}}.security;

import java.util.Optional;
import org.springframework.data.domain.AuditorAware;
import org.springframework.stereotype.Component;
{{#OAUTH2}}
import {{packageName}}.security.oauth2.application.SecurityUtils;
{{/OAUTH2}}
{{#JWT}}
import {{packageName}}.security.jwt.application.SecurityUtils;
{{/JWT}}

/**
 * Implementation of {@link AuditorAware} based on Spring Security.
 */
@Component
public class SpringSecurityAuditorAware implements AuditorAware<String> {

  @Override
  public Optional<String> getCurrentAuditor() {
    return Optional.of(SecurityUtils.getCurrentUserLogin().orElse("system"));
  }
}
