include /atom/icon/icon.mixin.pug

mixin seed4j-project-actions
  .seed4j-side-form--actions
    .seed4j-vertical-space.-paragraph
      .seed4j-vertical-space--line
        button.seed4j-button-main.-block
          +seed4j-icon('play-circled')
          span &nbsp;Apply new
      .seed4j-vertical-space--line
        button.seed4j-button-main.-block
          +seed4j-icon('play-circled')
          span &nbsp;Apply selected
      .seed4j-vertical-space--line
        button.seed4j-button-main.-block
          +seed4j-icon('code')
          span &nbsp;Format
      .seed4j-vertical-space--line
        button.seed4j-button-main.-block
          +seed4j-icon('download')
          span &nbsp;Download
