import adapter from '@sveltejs/adapter-static'
import { vitePreprocess } from '@sveltejs/vite-plugin-svelte'

/** @type {import('@sveltejs/kit').Config} */
const config = {
  preprocess: vitePreprocess(),
  kit: {
    adapter: adapter({
      pages: '{{projectBuildDirectory}}/classes/static/',
      assets: '{{projectBuildDirectory}}/classes/static/',
      fallback: 'index.html',
    }),
    appDir: '_app',
    files: {
      routes: 'src/main/webapp/routes',
      appTemplate: 'src/main/webapp/app.html',
      assets: 'src/main/webapp/assets',
      lib: 'src/main/webapp/lib',
      serviceWorker: 'src/main/webapp/service-worker',
    },
    alias: {
      $lib: 'src/main/webapp/lib',
      '$lib/*': 'src/main/webapp/lib/*',
    },
    outDir: '{{projectBuildDirectory}}/svelte-kit',
  },
}

export default config;
