
<div class="app-container">
  <h1>Svelte Application: JHipster + SvelteKit</h1>
  <div>
    <img alt="Svelte logo" src="img/svelte-logo.png" class="svelte-logo"/>
  </div>
  <div>
    <img alt="JHipster logo" src="img/jhipster-lite-neon-orange.png"/>
  </div>
  <p>Recommend IDE setup: <a href="https://code.visualstudio.com/" target="_blank" rel="noreferrer">VSCode</a></p>
  <p class="link-container">
    Visit <a href="https://kit.svelte.dev" target="_blank" rel="noreferrer">kit.svelte.dev</a> to read SvelteKit documentation
    |
    Visit <a href="https://github.com/jhipster/jhipster-lite" target="_blank" rel="noreferrer">jhipster-lite</a> to read JHipster Lite documentation
  </p>
  <p>
    Edit
    <code> src/main/webapp/lib/common/primary/app/App.svelte </code> to test hot module replacement.
  </p>
</div>

<style>
  .svelte-logo {
    height: 10%;
    width: 10%;
    padding-bottom: 25px;
  }
  .app-container {
    padding-top: 25px;
    text-align: center;
  }
  .link-container {
    color: #A32C00;
  }

  a {
    color: #A32C00;
  }

  code {
    background-color: lightgrey;
  }
</style>
