package {{classPackage}};

{{>import}}
{{comment}}
public record {{className}}({{#decoratedFields}}{{value.type}} {{value.name}}{{^last}}, {{/last}}{{/decoratedFields}}) {

    public {{className}} {
{{#fields}}
    {{>assertion}}
{{/fields}}

    }

}