@use '../../token/colors';
@use '../../token/fonts';

$seed4j-anchor-point-size: 6px;
$seed4j-anchor-point-border-size: 3px;

%anchor-point {
  position: absolute;
  top: calc(50% - $seed4j-anchor-point-size);
  z-index: 2;
  outline: solid 1px var(--seed4j-chip-default-anchor-color);
  border: $seed4j-anchor-point-border-size solid var(--seed4j-chip-bg-color);
  border-radius: $seed4j-anchor-point-size;
  background-color: var(--seed4j-chip-default-anchor-color);
  width: $seed4j-anchor-point-size;
  height: $seed4j-anchor-point-size;
  content: '';
}

.seed4j-chip {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  border: 1px solid colors.$seed4j-global-color-fill-primary-dark;
  border-radius: 6px;
  background: var(--seed4j-chip-bg-color);
  text-align: center;
  color: var(--seed4j-global-color-text);

  &--title {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;

    &.-applied::before {
      float: left;
      margin: 2px 0 0 3px;
      color: colors.$seed4j-global-color-success;
      font-family: fonts.$seed4j-global-font-glyph-family;
      content: '\e807';
    }
  }

  &--description {
    border-top: 1px dotted colors.$seed4j-global-color-fill-primary-dark;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.8em;

    &.-compacted {
      display: none;
    }
  }

  &.-selectable-highlighted {
    cursor: pointer;
    animation: colors.$seed4j-valid-highlight-animation;
  }

  &.-not-selectable-highlighted {
    border-style: dotted;
    background-color: colors.$seed4j-global-color-fill-disabled-light;
    cursor: not-allowed;
    animation: colors.$seed4j-invalid-highlight-animation;
  }

  &.-selected {
    background-color: colors.$seed4j-global-color-fill-primary-darker;
    cursor: pointer;
    color: colors.$seed4j-global-color-text-light;
  }

  &.-extended {
    margin-bottom: 15px;
  }

  &.-left-anchor-point::before {
    @extend %anchor-point;

    left: -$seed4j-anchor-point-size;
  }

  &.-right-anchor-point::after {
    @extend %anchor-point;

    right: -$seed4j-anchor-point-size;
  }

  &.-selectable-highlighted::before,
  &.-selectable-highlighted::after {
    cursor: pointer;
    animation: colors.$seed4j-valid-highlight-animation;
  }

  &.-not-selectable-highlighted::before,
  &.-not-selectable-highlighted::after {
    background-color: colors.$seed4j-global-color-fill-disabled-light;
    animation: colors.$seed4j-invalid-highlight-animation;
  }

  &.-selected::after,
  &.-selected::before {
    background-color: colors.$seed4j-global-color-fill-primary-darker;
    cursor: pointer;
    color: colors.$seed4j-global-color-text-light;
  }
}

.-not-selectable {
  .seed4j-chip {
    &--title,
    &--description {
      opacity: 0.5;
    }
  }
}

.has-emphasized-module {
  .seed4j-chip {
    &--title,
    &--description {
      opacity: 0.5;
    }
  }

  .-selectable-highlighted,
  .-not-selectable-highlighted,
  .-selected {
    .seed4j-chip {
      &--title,
      &--description {
        opacity: 1;
      }
    }
  }
}
