include chip.mixin.pug

+seed4j-chip({ compacted: true })
+seed4j-chip({ selectableHighlighted: true, compacted: true })
+seed4j-chip({ notSelectableHighlighted: true, compacted: true })
+seed4j-chip({ selected: true, applied: true, compacted: true })
+seed4j-chip({ extended: true })
+seed4j-chip({ selectableHighlighted: true, extended: true })
+seed4j-chip({ notSelectableHighlighted: true, extended: true })
+seed4j-chip({ selected: true, applied: true, extended: true })
+seed4j-chip({ compacted: true, hasLeftAnchorPoint: true })
+seed4j-chip({ selectableHighlighted: true, compacted: true, hasLeftAnchorPoint: true, hasRightAnchorPoint: true })
+seed4j-chip({ notSelectableHighlighted: true, compacted: true, hasRightAnchorPoint: true })
