include /atom/nav-item/nav-item.mixin.pug
include /molecule/icon-text/icon-text.mixin.pug

mixin seed4j-nav
  nav
    ul.seed4j-nav
      li.seed4j-nav--item
        +seed4j-nav-item({ current: true })
          +seed4j-icon-text('puzzle') Modules
      li.seed4j-nav--item
        +seed4j-nav-item
          +seed4j-icon-text('map') Landscape
      li.seed4j-nav--item
        +seed4j-nav-item
          +seed4j-icon-text('book') Documentation
      li.seed4j-nav--item
        +seed4j-nav-item
          +seed4j-icon-text('binoculars') Swagger UI
