@use '../../token/colors';
@use '../../token/size';

$seed4j-mode-switch-line-color: colors.$seed4j-global-line-color;
$seed4j-mode-switch-radius: size.$seed4j-global-size-switch-radius;

.seed4j-mode-switch {
  display: flex;

  &--modes {
    border: 1px solid $seed4j-mode-switch-line-color;
    border-radius: $seed4j-mode-switch-radius;
  }
}
