include /atom/button/button-switch/button-switch.mixin.pug

mixin seed4j-mode-switch(selectedOptionLabel, unselectedOptionLabel)
  .seed4j-mode-switch
    .seed4j-mode-switch--modes
      +seed4j-button-switch({ selected: true })= selectedOptionLabel
      +seed4j-button-switch= unselectedOptionLabel
