@use '../../token/breakpoint';
@use '../../token/colors';
@use '../../token/size';

$seed4j-landscape-padding: 20px;
$seed4j-landscape-modes-selection-top-position: $seed4j-landscape-padding;
$seed4j-landscape-preset-selection-top-position: 85px;
$seed4j-landscape-modes-selection-top-position-large-screen: 85px;
$seed4j-landscape-preset-selection-top-position-large-screen: 150px;
$seed4j-landscape-preset-selection-left-position: $seed4j-landscape-padding;
$seed4j-landscape-line-color: colors.$seed4j-global-line-color;
$seed4j-landscape-box-radius: colors.$seed4j-global-box-radius;
$seed4j-landscape-primary-color: colors.$seed4j-global-primary-color;
$seed4j-landscape-color-text-light: colors.$seed4j-global-color-text-light;
$seed4j-landscape-selectable-highlight-animation: colors.$seed4j-global-selectable-highlight-animation;
$seed4j-landscape-not-selectable-highlight-animation: colors.$seed4j-global-not-selectable-highlight-animation;
$seed4j-landscape-valid-highlight-end-color: colors.$seed4j-global-valid-highlight-end-color;
$seed4j-landscape-primary-alternative-color: colors.$seed4j-global-primary-alternative-color;

.seed4j-landscape,
.seed4j-landscape-minimap {
  .seed4j-landscape-map {
    position: relative;
    padding: $seed4j-landscape-padding;
  }

  .seed4j-landscape-modes-selection {
    position: absolute;
    top: $seed4j-landscape-modes-selection-top-position;
    left: $seed4j-landscape-padding;
    z-index: 3;
    border: 1px dotted $seed4j-landscape-line-color;
    border-radius: $seed4j-landscape-box-radius;
    background: var(--seed4j-chip-bg-color);
    padding: 10px;
  }

  .seed4j-landscape-preset-selection {
    position: absolute;
    top: $seed4j-landscape-preset-selection-top-position;
    left: $seed4j-landscape-preset-selection-left-position;
    z-index: 3;
    background: var(--seed4j-chip-bg-color);
  }

  .seed4j-landscape-rank-module-selection {
    display: flex;
    justify-content: left;
    margin-left: $seed4j-landscape-padding;
    background: var(--seed4j-chip-bg-color);
    width: 246px;
  }

  .seed4j-landscape-content {
    &--header {
      display: none;
    }
  }

  .seed4j-landscape-search-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .seed4j-landscape-search {
    display: flex;
    align-items: center;
    border-radius: size.$seed4j-global-size-field-radius;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    padding: 10px;
  }

  .seed4j-landscape-connectors {
    position: absolute;
    top: $seed4j-landscape-padding;
    left: $seed4j-landscape-padding;
    z-index: 1;

    &--line {
      stroke: $seed4j-landscape-line-color;
      stroke-opacity: 0.7;
      stroke-width: 1px;
      stroke-dasharray: 2 2;
      fill: none;

      &.-selectable-highlighted,
      &.-not-selectable-highlighted,
      &.-highlighted-unselection,
      &.-selected {
        stroke-dasharray: none;
        stroke-width: 3px;
        stroke-opacity: 1;
      }

      &.-selected {
        stroke: $seed4j-landscape-primary-color;
      }

      &.-selectable-highlighted {
        animation: $seed4j-landscape-selectable-highlight-animation;
      }

      &.-not-selectable-highlighted,
      &.-highlighted-unselection {
        animation: $seed4j-landscape-not-selectable-highlight-animation;
      }
    }
  }

  .seed4j-landscape-levels {
    display: grid;
    position: relative;
    column-gap: 15px;
    place-items: center;
    z-index: 2;

    &--level {
      grid-row: 1;
      padding: 0;

      &.-compacted {
        margin-right: 20px;
        min-width: 150px;
      }

      &.-extended {
        margin-right: 30px;
        min-width: 250px;
      }
    }
  }

  .seed4j-landscape-feature {
    border: 2px dotted $seed4j-landscape-line-color;
    border-radius: $seed4j-landscape-box-radius;
    background: rgba($color: $seed4j-landscape-primary-alternative-color, $alpha: 30%);

    &--title {
      text-align: center;
      color: var(--seed4j-global-color-text);
      font-size: 1em;
      font-weight: bold;

      &.-extended {
        margin: 5px;
      }

      &.-compacted {
        margin: 1px 3px;
      }
    }

    &--modules {
      padding: 0;
    }

    &--module {
      list-style-type: none;
    }

    &.-extended {
      padding: 10px 5px 0;
    }

    &.-compacted {
      padding: 1px 3px 0;
    }

    &.-selectable-highlighted {
      animation: $seed4j-landscape-selectable-highlight-animation;
      color: $seed4j-landscape-color-text-light;
    }

    &.-not-selectable-highlighted,
    &.-highlighted-unselection {
      animation: $seed4j-landscape-not-selectable-highlight-animation;
      color: $seed4j-landscape-color-text-light;
    }
  }

  .seed4j-landscape-element {
    list-style-type: none;

    &.-compacted {
      margin-bottom: 5px;
    }

    &.-extended {
      margin-bottom: 15px;
    }
  }

  .-search-highlighted {
    border-radius: size.$seed4j-global-size-field-radius;
    box-shadow: 0 0 0 size.$seed4j-global-size-field-border-focus colors.$seed4j-attention-highlight-color;
  }

  .seed4j-chip.-diff-rank-minimal-emphasis:nth-of-type(1),
  .seed4j-chip.-highlight-rank.-diff-rank-minimal-emphasis:nth-of-type(1) {
    border: 2px dotted $seed4j-landscape-line-color;
  }

  .seed4j-chip.-highlight-rank:nth-of-type(1) {
    border-width: 2px;

    &.seed4j-chip.-s:nth-of-type(1) {
      border-color: colors.$seed4j-rank-s-color;
    }

    &.seed4j-chip.-a:nth-of-type(1) {
      border-color: colors.$seed4j-rank-a-color;
    }

    &.seed4j-chip.-b:nth-of-type(1) {
      border-color: colors.$seed4j-rank-b-color;
    }

    &.seed4j-chip.-c:nth-of-type(1) {
      border-color: colors.$seed4j-rank-c-color;
    }

    &.seed4j-chip.-d:nth-of-type(1) {
      border-color: colors.$seed4j-rank-d-color;
    }
  }
}

.seed4j-landscape {
  position: relative;
}

@media screen and (min-width: breakpoint.$seed4j-global-breakpoint-small-medium) {
  .seed4j-landscape {
    .seed4j-landscape-modes-selection {
      top: $seed4j-landscape-modes-selection-top-position-large-screen;
    }

    .seed4j-landscape-preset-selection {
      top: $seed4j-landscape-preset-selection-top-position-large-screen;
    }

    .seed4j-landscape-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      &--header {
        display: flex;
        align-items: center;
        padding: 20px 0;
      }

      &--modules {
        display: flex;
        flex-grow: 1;
        min-height: 0;
        overflow: auto;
      }
    }
  }
}
