@use '../../token/colors';

$seed4j-header-color-background: colors.$seed4j-global-color-fill-secondary;

.seed4j-header {
  display: flex;
  align-items: center;
  background-color: $seed4j-header-color-background;
  padding: 0.5rem 1rem;

  &--slot {
    &.-expand {
      flex-grow: 1;
    }
  }

  .seed4j-with-theme-switch {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
