include /atom/logo/logo.mixin.pug
include /molecule/nav/nav.mixin.pug

mixin seed4j-header
  header.seed4j-header
    .seed4j-header--slot.seed4j-with-theme-switch
      +seed4j-logo
    .seed4j-header--slot.-expand
    .seed4j-header--slot
      +seed4j-nav
