@use 'colors';

@keyframes seed4j-valid-highlight-animation {
  0% {
    background-color: colors.$seed4j-valid-highlight-start-color;
    stroke: colors.$seed4j-valid-highlight-start-color;
  }

  50% {
    background-color: colors.$seed4j-valid-highlight-end-color;
    stroke: colors.$seed4j-valid-highlight-end-color;
  }

  100% {
    background-color: colors.$seed4j-valid-highlight-start-color;
    stroke: colors.$seed4j-valid-highlight-start-color;
  }
}

@keyframes seed4j-invalid-highlight-animation {
  0% {
    background-color: colors.$seed4j-invalid-highlight-start-color;
    stroke: colors.$seed4j-invalid-highlight-start-color;
  }

  50% {
    background-color: colors.$seed4j-invalid-highlight-end-color;
    stroke: colors.$seed4j-invalid-highlight-end-color;
  }

  100% {
    background-color: colors.$seed4j-invalid-highlight-start-color;
    stroke: colors.$seed4j-invalid-highlight-start-color;
  }
}
