@import 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap';

$seed4j-font-weight-semi-bold: 600;
$seed4j-global-font-primary-family: 'Inter', sans-serif;
$seed4j-global-font-emoji-family: sans-serif;
$seed4j-global-font-text-size: 2.5vw;
$seed4j-global-font-text-desktop-size: 16px;
$seed4j-global-font-glyph-family: seed4j-icons;
