include /atom/button/button-toggle/button-toggle.mixin.pug

mixin seed4j-landscape-rank-module-filter
  .seed4j-landscape-rank-module-filter
    .seed4j-landscape-rank-module-filter--ranks
      +seed4j-button-toggle D
      +seed4j-button-toggle({ disabled: true }) C
      +seed4j-button-toggle({ disabled: true }) B
      +seed4j-button-toggle({ disabled: true }) A
      +seed4j-button-toggle({ active: true }) S
