@use '../../token/colors';
@use '../../token/size';
@use 'sass:math';
@use 'sass:color';

$seed4j-select-color-background: rgba(colors.$seed4j-global-color-fill-light, 0);
$seed4j-select-color-text: colors.$seed4j-global-color-text-dark;
$seed4j-select-color-border: colors.$seed4j-global-color-field-border;
$seed4j-select-color-border-focus: colors.$seed4j-global-color-field-border-focus;
$seed4j-select-size-field-border-focus: size.$seed4j-global-size-field-border-focus;
$seed4j-select-disabled-color-background: colors.$seed4j-global-color-fill-disabled-light;
$seed4j-select-padding: math.div(9, 16) * 1rem math.div(1, 16) * 1rem math.div(9, 16) * 1rem math.div(13, 16) * 1rem;
$seed4j-select-radius: size.$seed4j-global-size-field-radius;
$seed4j-select-line-height: 1.5rem !default;
$seed4j-select-font-size: 1rem !default;

.seed4j-select {
  border: size.$seed4j-global-size-field-border solid colors.$seed4j-global-color-field-border;
  border-radius: $seed4j-select-radius;
  background-color: var(--seed4j-chip-bg-color);
  cursor: pointer;
  padding: $seed4j-select-padding;
  line-height: $seed4j-select-line-height;
  color: var(--seed4j-global-color-text);
  font-size: $seed4j-select-font-size;

  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 $seed4j-select-size-field-border-focus $seed4j-select-color-border-focus;
  }

  &:disabled {
    background-color: $seed4j-select-disabled-color-background;
    cursor: not-allowed;
  }
}
