$seed4j-side-menu-padding: 1rem;
$seed4j-side-menu-gap: 1rem;

.seed4j-side-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $seed4j-side-menu-gap;
  padding: $seed4j-side-menu-padding;
  min-height: 100%;

  &--slot {
    &.-expand {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
