mixin seed4j-side-menu
  .seed4j-side-menu
    block

mixin seed4j-side-menu--slot(opts)
  - const { expand } = opts || {};
  - const expandClass = expand ? '-expand' : null;
  .seed4j-side-menu--slot(class=expandClass)
    block
