mixin seed4j-input-text(opts)
  - const { disabled, value, placeholder, id } = opts || {};
  input.seed4j-input-text(id=id, value=value || null, disabled=disabled || null, placeholder=placeholder || null)
