mixin seed4j-landscape-minimap
  .seed4j-landscape-minimap
    .seed4j-minimap--container
      button.seed4j-button-main.-rounded-top.-small
        em.seed4j-icon.seed4j-icon-eye-off(role='img', aria-label='Icon eye-off')
      .seed4j-minimap--size(style='height: 100px; width: 200px')
        .seed4j-minimap--viewer
        .seed4j-minimap--content
