$seed4j-color-brand-050: #eff8fe;
$seed4j-color-brand-100: #ddeffc;
$seed4j-color-brand-200: #b9dff9;
$seed4j-color-brand-300: #83c6f5;
$seed4j-color-brand-400: #59a5da;
$seed4j-color-brand-500: #3e8abf;
$seed4j-color-brand-600: #236fa4;
$seed4j-color-brand-700: var(--seed4j-brand);
$seed4j-color-brand-800: #045085;
$seed4j-color-brand-900: #004677;
