$seed4j-color-neutral-050: #f8fafc;
$seed4j-color-neutral-100: #f1f5f9;
$seed4j-color-neutral-200: #e2e8f0;
$seed4j-color-neutral-300: #cbd5e1;
$seed4j-color-neutral-400: #94a3b8;
$seed4j-color-neutral-500: #64748b;
$seed4j-color-neutral-600: #475569;
$seed4j-color-neutral-700: #334155;
$seed4j-color-neutral-800: #1e293b;
$seed4j-color-neutral-900: #0f172a;
