<ModulesPatchLoaderVue v-if="content.isLoading()" />
<div class="seed4j-modules-patch seed4j-menu-content-template" v-else data-testid="modules-list">
  <div class="seed4j-modules-list seed4j-menu-content-template--content">
    <div class="seed4j-modules-filters">
      <div class="seed4j-modules-filters--tags">
        <TagFilterVue tag="init" :isSelected="isTagSelected('init')" @selected="toggleTag('init')" />
        <TagFilterVue tag="server" :isSelected="isTagSelected('server')" @selected="toggleTag('server')" />
        <TagFilterVue tag="client" :isSelected="isTagSelected('client')" @selected="toggleTag('client')" />
      </div>

      <input
        type="text"
        class="seed4j-modules-filters--filter"
        placeholder="Filter"
        data-testid="modules-filter-field"
        @input="updateSearch($event.target.value)"
      />

      <div class="seed4j-modules-filters--displayed-modules-count" data-testid="displayed-modules-count">
        {{ displayedModulesCount() }}&nbsp;/&nbsp;{{ totalModulesCount() }}
      </div>
    </div>

    <div class="seed4j-modules-list--categories">
      <div v-for="category in content.value().categories">
        <div>
          <h2 class="seed4j-module-category--name">{{ category.name }}</h2>
          <div v-for="module in category.modules" class="seed4j-module" :class="moduleClass(module.slug)">
            <div
              class="seed4j-module--content"
              :class="moduleClass(module.slug)"
              @click="toggleModule(module.slug)"
              @keyup.enter="toggleModule(module.slug)"
              :data-testid="`${module.slug}-module-content`"
            >
              <div class="seed4j-module--tags" :class="moduleClass(module.slug)">
                <div v-for="tag in module.tags" class="seed4j-module--tag">{{ tag }}</div>
              </div>

              <div class="seed4j-module--slug" :class="moduleClass(module.slug)">{{ module.slug }}</div>
              <div class="seed4j-module--description" :class="moduleClass(module.slug)">{{ module.description}}</div>

              <ModuleParametersVue
                propertiesType="MANDATORY"
                :propertiesDefinitions="mandatoryProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleParameters="moduleParametersValues"
                :selected="isModuleSelected(module.slug)"
              />
              <ModuleParametersVue
                propertiesType="OPTIONAL"
                :propertiesDefinitions="optionalProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleParameters="moduleParametersValues"
                :selected="isModuleSelected(module.slug)"
              />
            </div>

            <button
              class="seed4j-module--apply-button"
              :class="moduleClass(module.slug)"
              :disabled="disabledApplication(module.slug)"
              @click="applyModule(module.slug)"
              :data-testid="`module-${module.slug}-application-button`"
            >
              <span v-if="appliedModule(module.slug)">
                <IconVue name="ccw" aria-label="Reapply" title="Re-apply module" :data-testid="`module-${module.slug}-application-icon`" />
              </span>
              <span v-else>
                <IconVue name="play" aria-label="Reapply" title="Re-apply module" :data-testid="`module-${module.slug}-application-icon`" />
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="seed4j-menu-content-template--menu">
    <div class="seed4j-side-menu">
      <div class="seed4j-side-menu--slot -expand">
        <ModulePropertiesFormVue
          :folderPath="folderPath"
          :properties="selectedModuleProperties()"
          :parameters="moduleParametersValues"
          @moduleCommitUpdated="updateModuleCommit"
          @folderPathUpdated="updateFolderPath"
          @folderPathSelected="projectFolderUpdated"
          @propertyUpdated="updateProperty"
          @propertyDeleted="deleteProperty"
        />
      </div>

      <div class="seed4j-side-menu--slot">
        <ProjectActionsVue :folderPath="folderPath" @operationStarted="operationStarted()" @operationEnded="operationEnded()" />
      </div>
    </div>
  </aside>
</div>
