mixin seed4j-logo
  a.seed4j-logo(href='#')
    img.seed4j-logo--icon(src='[[TIKUI_BASEPATH]]atom/logo/seed4j_logo.png', alt='Seed4J logo', width=48)
    span.seed4j-logo--text Seed4J
    span.seed4j-logo-version--text v0.45.0
