mixin seed4j-logo
  a.seed4j-logo(href='#')
    img.seed4j-logo--icon(src='[[TIKUI_BASEPATH]]atom/logo/jhipster.png', alt='JHipster bow tie', width=48)
    span.seed4j-logo--text Seed4J
    span.seed4j-logo-version--text v0.45.0
