{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "{{projectBuildDirectory}}/out-tsc/spec",
    "isolatedModules": true,
    "types": ["node", "vitest/globals"],
    "target": "esnext",
  },
  "include": ["src/main/webapp/**/*.spec.ts", "src/main/webapp/**/*.d.ts"],
  "files": [
    "test-setup.ts"
  ]
}
