mixin seed4j-landscape-loader
  .seed4j-landscape-loader.seed4j-menu-content-template
    .ph-seed4j-landscape-modes-selection
      .ph-item
        .ph-row
          .ph-col-12.big
    .ph-seed4j-landscape-map.seed4j-menu-content-template--content
      .ph-seed4j-landscape-levels
        ListPlaceHolderVue
          PhPictureVue
          PhRowVue
    .seed4j-menu-content-template--menu
      .ph-seed4j-landscape-sidemenu
        .ph-seed4j-landscape-sidemenu-top
          .ph-item
            .ph-col-12
              .ph-row
                .ph-col-12.empty
                .ph-col-6.big
                .ph-col-6.empty.big
                .ph-col-12.empty
              .ph-row
                .ph-col-6
                .ph-col-6.empty
                .ph-col-12.big
                .ph-col-10
                .ph-col-10.empty
        .ph-seed4j-landscape-sidemenu-bottom
          .ph-item
            .ph-col-12
              .ph-row
                .ph-col-12.big
                .ph-col-12.big
                .ph-col-12.big
                .ph-col-12.big
