package {{ packageName }}.shared.slug.domain;

import java.util.Map;
import java.util.Optional;
import java.util.function.Function;
import java.util.stream.Collectors;
import java.util.stream.Stream;
import com.seed4j.module.domain.resource.SeedModuleSlugFactory;
import com.seed4j.module.domain.resource.SeedModuleRank;
import {{packageName}}.shared.generation.domain.ExcludeFromGeneratedCodeCoverage;

@ExcludeFromGeneratedCodeCoverage
public enum {{ baseName }}ModuleSlug implements SeedModuleSlugFactory {

  // Add here the slugs of your modules
  // e.g.: MY_MODULE("my-module", SeedModuleRank.RANK_B),
  ;

  private static final Map<String, {{ baseName }}ModuleSlug> moduleSlugMap = Stream.of(values()).collect(
    Collectors.toMap({{ baseName }}ModuleSlug::get, Function.identity())
  );
  private final String slug;
  private final SeedModuleRank rank;

  @SuppressWarnings("java:S1144")
  {{ baseName }}ModuleSlug(String slug, SeedModuleRank rank) {
    this.slug = slug;
    this.rank = rank;
  }

  @Override
  public String get() {
    return slug;
  }

  @Override
  public SeedModuleRank rank() {
    return rank;
  }

  public static Optional<{{ baseName }}ModuleSlug> fromString(String slug) {
    return Optional.ofNullable(moduleSlugMap.get(slug));
  }
}
