mixin seed4j-module-patch-loader
  .seed4j-module-patch-loader.seed4j-modules-loader-content.seed4j-menu-content-template
    .ph-seed4j-modules-container-content.seed4j-menu-content-template--content
      .modules-filter
        .ph-item
          .ph-col-12
            .ph-row
              .ph-col-12.big
      .modules-list
        .ph-item
          .ph-col-12
            .ph-row
              .ph-col-2.big
              .ph-col-10.empty.big
              .ph-col-12.empty
              .ph-col-12.big
              .ph-col-12.big
              .ph-col-12.big
              .ph-col-12.big
              .ph-col-12.empty.big
      .seed4j-menu-content-template--menu
        .ph-seed4j-modules-sidemenu
          .ph-seed4j-modules-sidemenu-top
            .ph-item
              .ph-col-12
                .ph-row
                  .ph-col-12.empty
                  .ph-col-6.big
                  .ph-col-6.empty.big
                  .ph-col-12.empty
                .ph-row
                  .ph-col-6
                  .ph-col-6.empty
                  .ph-col-12.big
                  .ph-col-10
                  .ph-col-10.empty
          .ph-seed4j-modules-sidemenu-bottom
            .ph-item
              .ph-col-12
                .ph-row
                  .ph-col-12.big
                  .ph-col-12.big
