@use '../../token/colors';

$seed4j-tag-filter-line-color: colors.$seed4j-global-line-color;
$seed4j-tag-filter-primary-color: colors.$seed4j-global-primary-color;

.seed4j-tag-filter {
  border: 1px solid $seed4j-tag-filter-line-color;
  border-radius: 1.5em;
  background-color: transparent;
  padding: 7px 15px;
  color: var(--seed4j-global-color-text);

  &.selected {
    background-color: $seed4j-tag-filter-primary-color;
    color: #fff;
  }
}
