import { restLogin, torestLogin } from '@/common/secondary/restLogin';
import { Login } from '@/common/domain/Login';

describe('restLogin', () => {
  it('should convert to restLogin', () => {
    const login: Login = { username: 'username', password: 'password', rememberMe: true };

    expect(torestLogin(login)).toEqual<restLogin>({ username: 'username', password: 'password', rememberMe: true });
  });
});
