import { UserDTO, toUser } from '@/common/secondary/UserDTO';
import { User } from '@/common/domain/User';

describe('restLogin', () => {
  it('should convert to User', () => {
    const userDTO: UserDTO = { login: 'username', authorities: ['admin'] };

    expect(toUser(userDTO)).toStrictEqual<User>({ username: 'username', authorities: ['admin'] });
  });
});
