include /atom/label/label.mixin.pug

mixin seed4j-field(label, opts)
  - const { forId, optional } = opts || {};
  .seed4j-field
    .seed4j-field--label
      +seed4j-label({ forId: forId || null })= label
    .seed4j-field--field
      block
    if optional
      .seed4j-field--optional Optional
