import { CommonModule } from '@angular/common';
import { Component, inject } from '@angular/core';
import { MatButtonModule } from '@angular/material/button';
import { MAT_DIALOG_DATA, MatDialogModule } from '@angular/material/dialog';
import { MatIconModule } from '@angular/material/icon';
import { MatTableModule } from '@angular/material/table';

import { HealthDetails } from '../health.model';

@Component({
  selector: 'seed-health-modal',
  templateUrl: './health-modal.html',
  imports: [CommonModule, MatDialogModule, MatIconModule, MatButtonModule, MatTableModule],
  styleUrl: './health-modal.css',
})
export class HealthModal {
  GIGABYTE = 1073741824;
  MEGABYTE = 1048576;
  displayedColumns = ['key', 'value'];

  healthDetails: HealthDetails = inject(MAT_DIALOG_DATA);

  readableValue(value: unknown): string {
    if (this.healthDetails.key === 'diskSpace' && typeof value === 'number') {
      // Should display storage space in a human-readable unit
      const val = value / this.GIGABYTE;
      if (val > 1) {
        return `${val.toFixed(2)} GB`;
      }
      return `${(value / this.MEGABYTE).toFixed(2)} MB`;
    }

    if (typeof value === 'object') {
      return JSON.stringify(value);
    }

    if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {
      return String(value);
    }

    return '';
  }
}
