@use '../../token/colors';

$seed4j-landscape-preset-configuration-color-border: colors.$seed4j-global-line-color;
$seed4j-landscape-preset-configuration-border-radius: colors.$seed4j-global-box-radius;

.seed4j-landscape-preset-configuration {
  &--content {
    border: 1px dotted $seed4j-landscape-preset-configuration-color-border;
    border-radius: 0 $seed4j-landscape-preset-configuration-border-radius $seed4j-landscape-preset-configuration-border-radius;
    padding: 10px;
  }

  &--field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
