mixin seed4j-landscape-preset-configuration
  .seed4j-landscape-preset-configuration
    button.seed4j-button-main.-rounded-top.-small
      em.seed4j-icon.seed4j-icon-eye-off(role='img', aria-label='Icon eye-off')
    .seed4j-landscape-preset-configuration--content
      .seed4j-field--label
        label.seed4j-input(for='preset-configuration') Presets Configurations
      .seed4j-landscape-preset-configuration--field
        select#preset-configuration.seed4j-select(@change='handlePresetChange', :value='selectedPresetName')
          option(value='') Select a preset...
          option(value='preset.name') Java Library with Maven
          option(value='preset.name') Webapp: Vue + Spring Boot
          option(value='preset.name') JHLite Extension with Maven
