.seed4j-layout {
  display: flex;
  position: fixed;
  inset: 0;
  flex-direction: column;

  &--body {
    flex-basis: 0;
    flex-grow: 1;
    background-color: var(--seed4j-bg-color);
    min-width: 0;
    overflow: auto;
  }
}
