@use '../../token/colors';

.seed4j-loader {
  box-sizing: border-box;
  display: inline-block;
  border: 5px solid colors.$seed4j-global-color-light;
  border-radius: 50%;
  border-bottom-color: transparent;
  width: 48px;
  height: 48px;
  animation: seed4j-rotation 1s linear infinite;
}

@keyframes seed4j-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
