package {{packageName}}.sample.infrastructure.secondary.kafka.producer;

import static org.assertj.core.api.Assertions.assertThat;
import static org.mockito.ArgumentMatchers.anyString;
import static org.mockito.ArgumentMatchers.eq;
import static org.mockito.Mockito.verify;
import static org.mockito.Mockito.when;

import java.util.concurrent.CompletableFuture;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.Mock;
import org.mockito.junit.jupiter.MockitoExtension;
import org.springframework.kafka.core.KafkaTemplate;
import org.springframework.kafka.support.SendResult;
import {{packageName}}.UnitTest;

@UnitTest
@ExtendWith(MockitoExtension.class)
class SampleProducerTest {

  @Mock
  private KafkaTemplate<String, String> kafkaTemplate;

  private SampleProducer sampleProducer;

  @BeforeEach
  void setUp() {
    sampleProducer = new SampleProducer("queue.seed4j.sample", kafkaTemplate);
  }

  @Test
  void shouldSend() {
    CompletableFuture<SendResult<String, String>> future = new CompletableFuture<>();
    when(kafkaTemplate.send(eq("queue.seed4j.sample"), anyString())).thenReturn(future);

    sampleProducer.send("sample message");

    verify(kafkaTemplate).send("queue.seed4j.sample", "sample message");
  }
}
