include module-parameters.mixin.pug

+seed4j-module-parameters('selected', 'all-valid-parameters')
+seed4j-module-parameters('selected', 'invalid-optional-parameter')
+seed4j-module-parameters('selected', 'invalid-mandatory-parameter')
